﻿@model List<CommerceProject.Models.CustomerResult>


@{
    ViewData["Title"] = "Results";
}
<link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.10.12/css/dataTables.bootstrap.css">

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="container-fluid top-pad-50">

        <!--Form-->
        <form id="formie">
            <div class="row">
                <div class="col-md-1">
                    <h5>Filter:</h5>
                   <button type="button" class="btn btn-primary commerce-green-background" id="AvailButton">Available</button>
                    <button type="button" class="btn btn-primary commerce-green-background" id="AllButton" 
                            style="display:none">All</button>
                </div>


                <div class="col-md-10" id="table1-wrapper">

                    <table id="resultTable1" class="table table-bordered" cellspacing="0" name="sortable">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Customer TIN</th>
                                <th>Account Number</th>
                                <th class="text-center">Lock</th>
                            </tr>
                        </thead>

                        <tbody>                            
                     
                            @foreach (var result in Model)
                            {
                            @foreach (var item in result.customerAccounts)
                                {
                            @foreach (var account in item.Key.MRcfCac.Select((value, j) => new { j, value }))
                                    {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.RfcrffNameFirst)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.RfcrffNameLast)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Key.RfcrffTaxId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => account.value.RfcacfAcct)
                                </td>
                                @if (account.j == 0)
                                            {
                                            @if (result.accountLockStatus[account.value.RfcacfAcct] == null)
                                                { 
                                            <td>
                                                <div class="checkbox text-center">
                                                    <label>
                                                        @Html.CheckBox("selected", new { value = result.accountsToLock, title = account.value.RfcacfAcct })
                                                    </label>
                                                </div>
                                            </td>

                                                }
                                                else
                                                {
                                            <td>In use by @result.accountLockStatus[account.value.RfcacfAcct].User</td>
                                                }
                                            }
                                            else
                                            {
                                            <td></td>
                                            }
                            </tr>
                                    }
                                List<string> firstName = new List<string>();
                                List<string> lastName = new List<string>();
                                List<string> taxName = new List<string>();
                                List<string> accountNum = new List<string>();
                                @foreach (var account in item.Value)
                                {
                                    firstName.Add(@account.RfcacfAlphaNavigation.RfcrffNameFirst);
                                    lastName.Add(@account.RfcacfAlphaNavigation.RfcrffNameLast);
                                    taxName.Add(@account.RfcacfAlphaNavigation.RfcrffTaxId);
                                    accountNum.Add(@account.RfcacfAcct);
                                }
                                @if (firstName.Count > 0)
                                {
                                    <tr class="highlight">
                                        <td>
                                            <img src="~/images/chain.png" alt="Related Account" style="width:14px;height:auto;">
                                            @for(int i = 0; i < firstName.Count; i++)
                                            {
                                                @firstName.ElementAt(i);
                                                <br />
                                            }
                                        </td>
                                        <td>
                                           @for (int i = 0; i < lastName.Count; i++)
                                           {
                                               @lastName.ElementAt(i);
                                            <br />
                                           }
                                        </td>
                                        <td>
                                            @for (int i = 0; i < taxName.Count; i++)
                                            {
                                                @taxName.ElementAt(i);
                                                <br />
                                            }
                                        </td>
                                        <td>
                                            @for (int i = 0; i < accountNum.Count; i++)
                                            {
                                                @accountNum.ElementAt(i);
                                                <br />
                                            }
                                        </td>
                                        <td></td>
                                    </tr>

                                }
                            }

                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <input type="hidden" name="User" value="@Context.User.Identity.Name" />
                    <input type="hidden" name="DateTime" value="@DateTime.Now" />
                    <button type="submit" class="btn btn-primary commerce-green-background" id="checkout1">Checkout</button>
                </div>
                <!--second list-->

                <div class="col-md-10" id="table2-wrapper">

                    <table id="resultTable2" class="table table-bordered" cellspacing="0" name="sortable" style="display:none">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Customer TIN</th>
                                <th>Account Number</th>
                                <th class="text-center">Lock</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (var result in Model)
                            {
                                @foreach (var item in result.customerAccounts)
                                {
                                    @foreach (var account in item.Key.MRcfCac.Select((value, j) => new { j, value }))
                                    {
                                        @if (result.accountLockStatus[account.value.RfcacfAcct] == null)
                                        {
                                            <tr>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Key.RfcrffNameFirst)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Key.RfcrffNameLast)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Key.RfcrffTaxId)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => account.value.RfcacfAcct)
                                                </td>
                                                @if (account.j == 0)
                                    {
                                    
                                    @if (result.accountLockStatus[account.value.RfcacfAcct] == null)
                                        {
                                    <td>
                                        <div class="checkbox text-center">
                                            <label>
                                                @Html.CheckBox("selected", new { value = result.accountsToLock, title = account.value.RfcacfAcct })
                                            </label>
                                        </div>
                                    </td>

                                        }                                      
                                    }
                                    else
                                    {
                                    <td></td>
                                    }
                                            </tr>
                                        }
                                    }
                                    List<string> firstName = new List<string>();
                                    List<string> lastName = new List<string>();
                                    List<string> taxName = new List<string>();
                                    List<string> accountNum = new List<string>();
                                    @foreach (var account in item.Value)
                                    {
                                        @if (result.accountLockStatus[account.RfcacfAcct] == null)
                                        {
                                            firstName.Add(@account.RfcacfAlphaNavigation.RfcrffNameFirst);
                                            lastName.Add(@account.RfcacfAlphaNavigation.RfcrffNameLast);
                                            taxName.Add(@account.RfcacfAlphaNavigation.RfcrffTaxId);
                                            accountNum.Add(@account.RfcacfAcct);
                                        }
                                        }
                                    @if (firstName.Count > 0)
                                    {
                                        <tr class="highlight">
                                            <td>
                                                <img src="~/images/chain.png" alt="Related Account" style="width:14px;height:auto;">
                                                @for (int i = 0; i < firstName.Count; i++)
                                                {
                                                    @firstName.ElementAt(i);
                                                    <br />
                                                }
                                            </td>
                                            <td>
                                                @for (int i = 0; i < lastName.Count; i++)
                                                {
                                                    @lastName.ElementAt(i);
                                                    <br />
                                                }
                                            </td>
                                            <td>
                                                @for (int i = 0; i < taxName.Count; i++)
                                                {
                                                    @taxName.ElementAt(i);
                                                    <br />
                                                }
                                            </td>
                                            <td>
                                                @for (int i = 0; i < accountNum.Count; i++)
                                                {
                                                    @accountNum.ElementAt(i);
                                                    <br />
                                                }
                                            </td>
                                            <td></td>
                                        </tr>

                                    }
                                }

                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <input type="hidden" name="User" value="@Context.User.Identity.Name" />
                    <input type="hidden" name="DateTime" value="@DateTime.Now" />
                    <button type="submit" class="btn btn-primary commerce-green-background" id="checkout2" style="display:none"
                            >Checkout</button>
                </div>
            </div>
            @Html.AntiForgeryToken()
        <!--End Form-->
        </form>
    </div>
}
else
{
    <h3>You must be logged in to view this content</h3>
}
<script src="~/DataTables/jQuery-2.2.3/jquery-2.2.3.js">
</script>
<script src="~/DataTables/DataTables-1.10.12/js/dataTables.bootstrap.min.js">
</script>
<script src="~/DataTables/datatables.min.js">
</script>
<script src="~/DataTables/datatables.js">
</script>
<script type="text/javascript">
    var table1 = $('#resultTable1').dataTable({
        "ordering": false,
    });
    var table2 = $('#resultTable2').dataTable({
        "ordering": false,
    });
    $('#table2-wrapper').hide();
</script>

<script type="text/javascript">
    var availButton = document.getElementById('AvailButton');
    var allButton = document.getElementById('AllButton');


    availButton.onclick = function () {
        var div1 = document.getElementById('resultTable1');
        var div2 = document.getElementById('resultTable2');
        var check1 = document.getElementById('checkout1');
        var check2 = document.getElementById('checkout2');
        if (div1.style.display !== 'none') {
            $('#table2-wrapper').show();
            $('#table1-wrapper').hide();
            div2.style.display = 'table';
            div1.style.display = 'none';
            table2.fnAdjustColumnSizing();
            check1.style.display = 'none';
            check2.style.display = 'block';
            availButton.style.display = 'none';
            allButton.style.display = 'block'

        }
        else {
            $('#table1-wrapper').show();
            $('#table2-wrapper').hide();
            div1.style.display = 'table';
            div2.style.display = 'none';
            table1.fnAdjustColumnSizing();
            check1.style.display = 'block';
            check2.style.display = 'none';
        }

        allButton.onclick = function () {
            var div1 = document.getElementById('resultTable1');
            var div2 = document.getElementById('resultTable2');
            var check1 = document.getElementById('checkout1');
            var check2 = document.getElementById('checkout2');

            if (div2.style.display !== 'none') {
                $('#table1-wrapper').show();
                $('#table2-wrapper').hide();
                div2.style.display = 'none';
                check2.style.display = 'none';
                div1.style.display = 'table';
                check1.style.display = 'block';
                allButton.style.display = 'none';
                availButton.style.display = 'block'

            }
            else {
                div2.style.display = 'table';
                div1.style.display = 'none';
                check2.style.display = 'block';
                check1.style.display = 'none';
            }
        }
    };
</script>
    

@section scripts
{
<script>
    
    $("#formie").submit(function(event) {
        //Prevent form submission
        event.preventDefault();

        //Get Fields
        var $form = $(this)
        //var selected = $('#selected:checked').map(function () { return this.value; }).get().join(',');
        var selected = $('#selected:checked').map(function () { return this.value; }).get();
        var user = $form.find('input[name="User"]').val();
        var datetime = $form.find('input[name="DateTime"]').val();
        var token = $('input[name="__RequestVerificationToken"]').val();

        //Build dic to send it over the wire ;)
        var content = {
            'selected': selected,
            'user': user, 
            'datetime': datetime,
            '__RequestVerificationToken': token
        }

        //Form submission
        if (selected.length == 0) {
            Messages.warningMsg();
        } else {
            postIt(content);
        }
        
        
    });

    var postIt = function(content) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("checkoutAccounts", "Checkout")',
            data: content,
            success: function(response) {
                if (response.success == true) {
                    Messages.displaySuccessMsg("Out");
                } else {
                    Messages.displayErrorMsg();
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                Messages.displayErrorMsg();
                console.log('something went wrong' + errorThrown);
            }
        });
    };

</script>
}



