<div class="container-fluid">
<div class="col-md-4"></div>
<div class="col-md-3" style="margin-top:150px">
    <form asp-controller="Customer" asp-action="SearchResults" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST">
        <div class=".form-control">
            <label for="usr">Search by Customer Name:</label>
            <input type="text" class="form-control" name="name"/>
            <br>
            <input type="submit" class="btn btn-primary commerce-green-background" value="Submit">

        </div>

    </form>

</div>
</div>

