﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Lock n' Load</title>
    <script src="~/lib/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="~/lib/sweetalert/dist/sweetalert.css">
    

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
       
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top commerce-green-background">
        <div class="container">
            <button class="navbar-toggle hidden-md pull-right" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
                <span class="glyphicon glyphicon-menu-hamburger white"></span>
            </button>
            <div class="navbar-header">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"
                   style="color:white"><img src="~/images/Logomakr_3PnfEf.png" alt="Related Account" style="width:auto;height:22px;margin-top:0px;padding-top:0px"></a>
            </div>
            <div class="collapse navbar-collapse" id="collapsingNavbar">
                @if (Context.User.Identity.IsAuthenticated)
            {
                    <ul class="nav navbar-nav">
                        <li><a href="~/Account/LockedAccounts">Locked Accounts</a></li>
                    </ul>
                    <form id="logout_form" action="/logout" method="post">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden-sm-down">
                                <p class="navbar-text" style="color:white">Hello, <b>@Context.User.Identity.Name</b></p>
                            </li>
                            <li>
                                <a onclick="document.getElementById('logout_form').submit();"
                                   style="cursor: pointer;">Log Out</a>
                            </li>
                        </ul>
                    </form>

                }
                else
                {

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login">Log In or Register</a></li>
                    </ul>

                }
            </div>

        </div>
    </div>


    <div class="container-fluid">
        @RenderBody()
        <hr />
    </div>

    <environment names="Development">
        <link href="~/css/jquery-ui.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-ui/jquery-ui.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
       
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
