﻿
@model Dictionary<string, CommerceProject.Models.LinkedAccount>

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="container">
        <!--Top Row buttons-->
        <div class="row" style="margin-top:70px">
            <!--Form-->
            <div class="col-md-6 col-xs-6 text-center">
                <form id="search" method="POST">                 
                        <div class="input-group input-group-lg" style="display:inline-flex" @*style="margin-right: -71px;"*@>
                            <input id="searchinput" name="input" class="form-control" placeholder="Enter account # or customer name" @*style="height: 42px;"*@>
                            <span class="input-group-btn">
                                <button class="btn btn-lg commerce-green-background white" type="submit" @*style="height: 43px;"*@>
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                            </span>
                        </div><!-- /input-group -->                  
                    <!--Form End-->
                </form>
            </div>
            <!--<div class="col-md-2"></div>
            <div class="col-md-1" style="align-content:center">
                <a href="~/Account/SearchByAccount" class="btn btn-primary btn-lg commerce-green-background"
                   role="button">Search Accounts</a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-1" style="align-content:center">
                <a href="~/Customer/SearchByCustomer" class="btn btn-primary btn-lg commerce-green-background"
                   role="button">Search Customers</a>
            </div>-->
            
            <div class="col-md-6 col-xs-6 text-center">
                <a href="~/Account/SearchByAttributes" class="btn btn-primary btn-lg commerce-green-background"
                   role="button">Search Attributes</a>
            </div>
          
                <!--End Top Row buttons-->
</div>
        <hr />
        <div class="row">
    @*<div style="width:22%; float:left;min-height: 300px;"></div>
    <div style="width:56%; float:left;overflow-y: scroll; max-height:450px;margin-top:50px">*@
            <div class="col-md-offset-2 text-center">
                <h3>Accounts I've Checked Out:</h3>
                @if (Model.Count == 0)
                {
                    <h4>You haven't checked out any accounts...</h4>
                }
            </div>
        @if (Model.Count != 0)
        {
        
            <div>
                <form id="checkin" method="post">
                <div class="col-md-2">
                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for account name">
                    <button id="checkinbutton" class="btn btn-primary commerce-green-background">Check in Selected<br /> Accounts</button>
                </div>
                    <div class="col-md-10">
                    <table class="table table-bordered table-striped table-condensed" id="table" style="width:100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Customer Type</th>
                                <th>Account Number</th>
                                <th>Account Type</th>
                                <th>Date</th>
                                <th>Check in</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model)
                        {
                            <tbody>
                                @foreach (var linkedAccount in item.Value.linkedLockedAccounts)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => linkedAccount.accountName)</td>
                                        <td>@Html.DisplayFor(modelItem => linkedAccount.customerType)</td>
                                        <td>@Html.DisplayFor(modelItem => linkedAccount.lockedAccount.AccountNumber)</td>
                                        <td>@Html.DisplayFor(modelItem => linkedAccount.accountType)</td>
                                        <td>@Html.DisplayFor(modelItem => linkedAccount.lockedAccount.DateTime)</td>

                                        @if (linkedAccount.Equals(item.Value.linkedLockedAccounts.FirstOrDefault()))
                                        {
                                            <td rowspan="@item.Value.linkedLockedAccounts.Count">
                                                @Html.CheckBox("selected", new { value = item.Value.accountsToCheckIn })
                                            </td>
                                        }

                                    </tr>

                                }

                            </tbody>

                        }
                    </table> 
    </div>
          </form>      
        </div>
    
        }

            @*<div style="width:22%;float:left;min-height: 300px;"></div>
            <div style="float:right;margin-right:22%;margin-top:10px">
                <button id="checkinbutton" class="btn btn-primary commerce-green-background">Check in Selected<br /> Accounts</button>
            </div>*@
            <!--Form End-->
        
    </div>
        </div>
}
else
{
    <h3>You must be logged in to view this content</h3>
} 


@section scripts
{
<script>
    
    //Check if there are accounts in table
    //var tbody = $('tbody');
    //if (tbody.length < 1) {
    //    $('#checkinbutton').prop('disabled', true);
    //}


    //Check in submission form
    $("#checkin").submit(function(event) {

        //Prevent form submission
        event.preventDefault();

        //Get form object to be able to send it to the controller as a model
        var formData = $(this).serialize();

        //Get selected checkboxes
        var checkBoxes = $('tbody #selected');


        if (checkBoxes.filter(':checked').length < 1) { //No checkboxes have been checked
            warningMsg();
        } else {
            postIt(formData);
        }
    });


    /*
        Helper functions
    */


    

    //Form submission
    var postIt = function(formData) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CheckIn", "Home")',
            data: formData,
            success: function(response) {
                if (response.success == true) {
                    displaySuccessMsg("Checked In successfully");
                } else {
                    displayErrorMsg("Unable to Check In Accounts");
                }
            },
            error: function (xhr, textStatus, errorThrown) {
               displayErrorMsg("Unable to Check In Accounts");
            }
        });
    };


    var displaySuccessMsg = function(message) {
            swal({
                title: message,
                text: "Redirecting to Home...",
                type: "success",
                showConfirmButton: false,
                timer: 700
            },
            function(){
                window.location.href = '/';
            });

    };


    var displayErrorMsg = function(message) {
        swal({
                title: message,
                text: "If problem persist contact adminastrator",
                type: "error"
            });
    };

    var warningMsg = function() {
        swal({
            title: "Did you select any values?",
            type: "warning",
            confirmButtonText: "Ok",
            closeOnConfirm: false
        });
    };

    
    $("#search").submit(function(event) {

        var input = $(this).find('input[name="input"]').val();

        if (isAccountNumber(input)) {
            document.getElementById('search').action = '@Url.Action("SearchResults", "Account")';
        } else {
            document.getElementById('search').action = '@Url.Action("SearchResults", "Customer")';
        }
    });


    var isAccountNumber = function(text) {
        //valid account 00 00 00 00 00 00 00 00 02 --->>> 18 digits && all numeric
        if (text.match("[0-9]+") && text.length == 18) {
            return true;
        } else {
            return false;
        }
    }


    /* (In case we need it...)

    This will disable the buttons unless something is checked.
    var checkBoxes = $('tbody #selected');
    checkBoxes.change(function () {
        $('#checkinbutton').prop('disabled', checkBoxes.filter(':checked').length < 1);
    });
    $('tbody #selected').change();
    */
    function myFunction() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("table");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
}

