﻿
<div class="container-fluid">
    <div class="row row-centered">

        <!--search and cancel buttons-->
        <div class="col-md-1" style="margin-top: 520px">
            <button type="button" class="btn btn">Search</button>
            <button type="button" class="btn btn-default" style="margin-top:10px">Cancel</button>
        </div>

        <!--left table-->
        <div class="col-md-4 col-centered" style="overflow-y: scroll; max-height:500px">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Selected</th>
                        <th>Account Types Needed</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>SAV - Saving Deposits</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>SAV - Saving Deposits</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Another Account</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Another Account</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Another Account</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Another Account</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Another Account</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Another Account</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Another Account</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!--Arrows-->
        <div class="col-md-2 col-centered">
            <div class="text-center" style="height: 180px; text-align:center;line-height:270px;">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </button>
            </div>
            <br />
            <div class="text-center">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </button>
            </div>
        </div>

        <!--Left Table-->
        <div class="col-md-4 col-centered" style="overflow-y: scroll; max-height:500px">
                <table class="table table-striped table-bordered table-condensed">
                    <thead>
                        <tr>
                            <th>Remove</th>
                            <th>Account Types Selected</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>DDA - Demand Deposits</td>
                        </tr>

                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>SAV - Saving Deposits</td>
                        </tr>

                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label><input type="checkbox" /></label>
                                </div>
                            </td>
                            <td>More Data</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    
        <!--margin-->
        <div class="col-md-1"></div>
    </div>

</div>


