﻿@*@model IEnumerable<CommerceProject.Models.MRcfCac*@

@using CommerceProject.Models;
@model LockedAccounts

@{
    ViewData["Title"] = "Results";
}
<link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.10.12/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="~/DataTables/DataTables-1.10.12/css/dataTables.bootstrap.css">

@if (Context.User.Identity.IsAuthenticated)
{
    <div class="container-fluid top-pad-50">
        <form asp-controller="Account" asp-action="Checkout" method="post">
            <div class="row">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <table id="resultTable" class="table table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Account Number</th>
                                <th class="text-center">Lock Holder</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.accounts)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RfcacfAlpha)
                                    </td>
                                    <td>
                                        @item.RfcacfAcct
                                    </td>
                                    <td>
                                        @Model.accountsAndHolders[item.RfcacfAcct]
                                    </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                </div>
            </div>
        </form>
    </div>
}
else
{
    <h3>You must be logged in to view this content</h3>
}
<script src="~/DataTables/jQuery-2.2.3/jquery-2.2.3.js">
</script>
<script src="~/DataTables/DataTables-1.10.12/js/dataTables.bootstrap.min.js">
</script>
<script src="~/DataTables/datatables.min.js">
</script>
<script src="~/DataTables/datatables.js">
</script>
<script type="text/javascript">
    $('#resultTable').dataTable({
        "ordering": false,
    });
</script>   