﻿    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-3" style="margin-top:100px">
            <form class="form-signin">
                <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            @{
                if (ViewBag.WrongPassword == "true")
                {
                    <p style="color: red">Incorrect Password</p>
                }
            }
        </div>
    </div>


