﻿<div class="container-fluid">
    <div class="col-md-4"></div>
    <div class="col-md-3" style="margin-top:150px">
        <form asp-controller="Account" asp-action="SearchResults" asp-route-returnurl="@ViewData["ReturnUrl"]" method="POST">
            <div class=".form-control">
                <label for="usr">Search by Account:</label>
                <input type="text" class="form-control" name="accountNumber">
                <br />
                <input type="submit" class="btn btn-primary commerce-green-background" value="Submit">

            </div>

        </form>
    </div>
</div>