﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.commerce-green-background {
    background-color: #006F51;
    border-color: white;
}

.black-border {
    border: black 1px solid;
}

.top-pad-50 {
    margin-top: 50px;
}

.highlight {
    background-color: #DDDDDD;
    font-size:0px;
    height:6px;
    color: #DDDDDD;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom:0px;
    -webkit-transition: width .3s, height .3s, background-color .3s, font-size .3s, color .3s;
}
.highlight:hover {
    background-color: #EEEEEE;
    font-size:14px;
    color:black;
    height:14px;
    margin-top:4px;
    margin-bottom:4px;
}

.white {
    color: white;
    border-color: white;
}

#searchinput::-webkit-input-placeholder { font-size:14px; }
#searchinput::-moz-placeholder { font-size:14px; }
#searchinput:-ms-input-placeholder { font-size:14px; }