﻿@if (Context.User.Identity.IsAuthenticated)
{ 
<div class="container-fluid">
    <div class="row row-centered">

        <div class="col-md-12" style="overflow-y: scroll; max-height:450px">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Checked Out</th>
                        <th>Checked Out to</th>
                        <th>Customer Name</th>
                        <th>Customer TIN</th>
                        <th>Accounts Selected</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="dropdown">
                                <button class="button dropdown-toggle" type="button" id="availDropDown"
                                        data-toggle="dropdown"aria-haspopup="true" aria-expanded="true">All/Available
                                <span class="caret"></span></button>
                                <ul class="dropdown-menu" aria-labelledby="availDropDown">
                                    <li><a href="#">All</a></li>
                                    <li><a href="#">Available</a></li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">Filter on Checked Out to</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">Filter on Customer Name</button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-default">Filter on TIN</button>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Michael Jackson</td>
                        <td>Mary Jones</td>
                        <td>123456789</td>
                        <td>DDA-1234 VSA-2345</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Andrew Jackson</td>
                        <td>Jane Doe</td>
                        <td>567234890</td>
                        <td>SAV-2345</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>Samuel L Jackson</td>
                        <td>Bill Johnson</td>
                        <td>3335557777</td>
                        <td>MSC-4444</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label><input type="checkbox" /></label>
                            </div>
                        </td>
                        <td>another Jackson</td>
                        <td>another person</td>
                        <td>000000000</td>
                        <td>DDA-0000</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>